* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #0f0f1a;
  color: #ffffff;
}

#app {
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
}
